<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VUU.SE UI Prototype</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
          padding-top: 50px;
          padding-bottom: 20px;
        }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">VUU<small>.SE</small></a>
        </div>
      </div>
    </div>

    <div class="container">

        <div class="page-header">
          <h1>Users</h1>
        </div>

        <ul class="media-list">
            {{#users}}
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{picture}}" style="width: 64px; height: 64px;">
                </a>

              <div class="media-body">
                <h4 class="media-title">{{name}} [{{nickname}}]
                    <span class="label label-info" title="Number of logins">{{loginsCount}}</span>
                </h4>

                <dl class="dl-horizontal">
                    <dt>Joined</dt>
                    <dd>{{created_at}}</dd>

                    <dt>Last logged in</dt>
                    <dd>{{lastLogin}}</dd>

                    <dt>email</dt>
                    <dd>
                        {{email}}
                        {{#email_verified}}
                        <span class="label label-info">verified</span>
                        {{/email_verified}}
                    </dd>

                    <dt>gender</dt>
                    <dd>{{gender}}</dd>
                </dl>
              </div>
            </li>
            {{/users}}
        </ul>

        <hr>

        <footer>
          <p class="pull-right">Signed in as <strong>{{user.displayName}} | <a href="/logout" class="auth-logout" title="Logout of VUU.SE">logout</a></strong></p>

          <p>&copy; Company 2014</p>
        </footer>
    </div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{{auth0.scriptUrl}}}"></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">var widget = new Auth0Widget({domain:'{{{auth0.domain}}}',clientID:'{{{auth0.clientID}}}',callbackURL:'{{{auth0.callbackURL}}}'});</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50338086-1', { 'cookieDomain': 'none' });
  ga('set', 'hostname', 'app.vuu.se');
  ga('send', 'pageview');
</script>
</body>
</html>
