<form class="modal-dialog editor-board" role="form">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">EDIT BOARD: {{name}}</h4>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input class="form-control" id="name" name="name" placeholder="Name" value="{{name}}">
      </div>

      <ul class="unstyled transform-list">
      {{#transforms}}
          <li class="transform"><a href="#" class="pull-right close" data-delete="/transforms/{{id}}">&times;</a>{{phrase}}</li>
      {{/transforms}}
      </ul>

      <div class="form-group">
        <label for="transform" class="control-label">Transform</label>
        <input class="form-control" id="transform" name="transform" placeholder="Transform" value="">
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</form>
